<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <main>
        <div class="content blogs">
            <h2>All blogs</h2>
            <% if (blogs.length > 0) { %>
                <% blogs.forEach((blog) => { %> 
                    <a class="single" href="/blogs/<%= blog._id %>"" >
                        <h3 class="blog-title"><%= blog.title %></h3>
                        <p class="blog-title"><%= blog.body %></p>
                    </a>
                <% }); %>
            <% } else { %>
            <p>There are no blogs to display...</p>
            <% } %>
        </div>
    </main>


    <%- include('./partials/footer.ejs')  %>
</body>
</html>